/node_modules
/public/hot
/public/data
/public/content
/public/storage
/public/img/account
/public/img/receipt
/storage/*.key
/vendor
/enrollment
/staging
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
